<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>
    Caretaker Form
</h1>
<form method="post">
  Name: <input name="name"/>
  <br/><br/>
  Email: <input name="email"/>
  <br/><br/>
    Language: <input name="language"/>
    <br/><br/>
</form>
<form>
  <label for="gender">What is your gender?</label>
  <select name="gender" id="gender">
    <option value="male">Male</option>
    <option value="female">Female</option>
    <option value="other">Other</option>
  </select>
  <br><br>
</form>
<button type="submit">Submit</button>
</body>
</html>