{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" src="static/matches.css">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matches</title>
    <style>
        h1 {text-align: center;}
   </style>
</head>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grayfin</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
</head>
<body>
    <h1>Grayfin</h1>
    <h2>Matches</h2>
    <h3>Welcome, {{ session['name'] }}</h3>
    <ul>
        {% for user in users %}
            <li>
                <strong>Name:</strong> {{ user[0] }}<br>
                <strong>Email:</strong> {{ user[1] }}<br>
                <strong>Language:</strong> {{ user[2] }}<br>
                <strong>City:</strong> {{ user[3] }}<br>
                <strong>State:</strong> {{ user[4] }}<br>
                <strong>Hobbies:</strong> {{ user[4] }}<br>
                {% if user[1] != session['email'] %}
                    <a href="{{ url_for('chat', recipient_email=user[1]) }}">Chat with {{ user[0] }}</a>
                {% endif %}
                <hr>
            </li>
        {% endfor %}
    </ul>
</body>
</html>

</html>
{% endblock %}
